html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* ---------------------Navbar-------------------------------- */
.navbar {
  width: fit-content;
  position: fixed;
  left: 0;
  right: 0;
  top: 8px;
  padding: 13px;
  border-radius: 20px;
  border-color: none;
  box-shadow: 5px 10px 18px #888888;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
} 
.navbar a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

.navbar a:hover {
  font-weight: 750;
}

/* .right_nav {
  width: fit-content;
  position: fixed;
  left:2%;
  right: 20;
  top: 8px;
  padding: 13px;
  border-radius: 20px;
  border-color: none;
  box-shadow: 5px 10px 18px #888888;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  
}
.left_nav {
  width: fit-content;
  position: fixed;
  left:20;
  right:2%;
  top: 8px;
  padding: 13px;
  border-radius: 20px;
  border-color: none;
  box-shadow: 5px 10px 18px #888888;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.right_nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

.right_nav a:hover {
  font-weight: 750;
}

.left_nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

.left_nav a:hover {
  font-weight: 750;
} */


.btn_cv {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cv_view {
  color: white;
  padding: 12px;
  border-radius: 5px;
  text-decoration: none;
  background: black;
  border: none;
}

#cv_btn {
  display: none;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./Images/bgif.gif");
  background-attachment: fixed;
  background-size: cover;
}

.border {
  /* background-image: linear-gradient(to right, red, green, yellow); */
  width: 75%;
  padding: 3px;
  border-radius: 50%;
  right: 0;
  margin-left: 10%;
  margin-top: 20px;
}

.main_content {
  margin: 60px;
}

/* ----------------------About------------------------------- */
.name_and_photo {
  margin-top: 5%;
  background-image: url("./Images/myimg.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  width: 50%;
  height: 400px;
  border-radius: 50px;
}

.prof_det {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

/* .name_color_border
{
  margin-top: 5%;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  background-image: linear-gradient(to right, red, green, yellow,lightblue);
  animation: rotateBackground 10s linear infinite;
}
@keyframes rotateBackground {
  0% {
    background-image: linear-gradient(to right, red, green, yellow, lightblue);
    transform: rotate(0deg); 
  }
  100% {
    background-image: linear-gradient(to right, red, green, yellow, lightblue);
    transform: rotate(360deg);
  }}

.name {
  margin-top: 10px;
  color: black;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.name_color_border {
  margin-top: 5%;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  
}

.name_color_border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #ff5733, #ffbd33, #33ff57, #339aff, #bd33ff);
  animation: rotateBackground 10s linear infinite;
}

@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


/* -----------------------Skills------------------------------ */
.skills_known {
  margin-bottom: 20px;
}

.prg_prog {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  gap: 5%;
}

.tech_prog {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  gap: 5%;
  padding-bottom: 5%;
}

/* -------------------------Projects---------------------------- */
.proj {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  gap: 20px;
  /* display: grid;
  grid-template-columns: repeat(6,1fr); */
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 5%;
}

button {
  width: 200px;
  height: 200px;
}

.proj_hcj:hover,
.proj_adv:hover {
  width: fit-content;
  border-radius: 20px;
  box-shadow: 1px 1px 30px rgb(0, 0, 0);
}

/* ------------------------Achievements---------------------------- */
.achievements {
  display: grid;
  grid-template-columns: auto auto auto;

}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 6px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 5%;
}

/* -------------------------Contacts---------------------------- */

.contact {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.connections
{
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: black;
  color: white;
  width: 100%;
}

.links>a {
  text-decoration: none;
  color: white;
  padding: 31.5px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  margin-bottom: 20px;
  /* Mild black box shadow */
}

.personal {
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
}

#github {
  background: url('./Images/github.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#linkedin {
  background: url('./Images/linkedin.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#num {
  display: none;
}

/* #facebook {
  background: url('./Images/facebook.jpeg');
  background-repeat: no-repeat;
  background-size: cover;}

#twitter {
  background: url('./Images/twitter.png');
  background-repeat: no-repeat;
  background-size: cover;} */


.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.to_top>img {
  padding: 25px;
  background: url(./Images/up.gif);
  background-size: cover;
  position: fixed;
  right: 35px;
  bottom: 15px;

}

/* ------------------------Media Queries---------------------------- */


@media only screen and (max-width: 800px) {

  .main_content,
  .proj_hcj {
    margin: 20px;
  }

  .proj {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  #pf,
  #spd,
  #pl,
  #qr,
  #oce,
  #es {
    width: 150px;
    height: 150px;
  }

  #oce,
  #es {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
  }

  .proj_hcj:hover,
  .proj_adv:hover {
    all: unset;
    /* Remove all hover effects */
  }

  .navbar {
    display: none;
  }


  .to_top {
    display: none;
  }

  #github {
    margin-left: 0;

  }

  .prof_det>.name_and_photo {
    /* width: 300px;
    height: 300px;
    margin-left: 12.5%;
    border-radius: 50%;
    background: url('./Images/formalpic.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    display: none;
  }

  .prof_det {
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 10%;
  }

  .links {
    display: grid;
    grid-template-columns: auto auto;
  }

  .links>#github ,.links>#linkedin{
    text-decoration: none;
    color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }

  #cv_view {
    display: none;
  }

  #cv_btn {
    display: block;
    color: white;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    background: black;
    border: none;
  }
}